@page
@model ToDoListApp.Pages.ToDoList.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "ToDoList";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ToDoItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.Done)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.Done)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.DoneDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.DoneDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ToDoItem.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
