@page
@model ToDoListApp.Pages.ToDoList.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "ToDoList";
}

<h1>Details</h1>

<div>
    <h4>ToDoItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.Done)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.Done)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.DoneDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.DoneDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ToDoItem.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
